
@{
    ViewBag.Title = "Index";
}

<h2>Home Index</h2>

<div>
    <h3> Choose a intdex page</h3>
    <ul>
        <li>
            @Html.ActionLink("Buildings Index","../Building/index")
        </li>
        <li>
            @Html.ActionLink("Department Index", "../Department/index")
        </li>
        <li>
            @Html.ActionLink("Employee Index", "../Employee/index")
        </li>
    </ul>
</div>

